<!-- Showing info of development team -->

<div class="cardContainer">
   

   <mat-card class="card">
      <mat-card-title>Nair Amrutha Prakasan</mat-card-title>
      <img mat-card-image height="350px" src="../../assets/Amrutha.jpg">
      <mat-card-content><b>Stackroute</b><br>Batch 20</mat-card-content>
   </mat-card>

   <mat-card class="card">
      <mat-card-title>Nima Moideen</mat-card-title><br>
      <img mat-card-image height="350px" src="../../assets/Nima.jpeg">
      <mat-card-content><b>Stackroute</b><br>Batch 20</mat-card-content>
   </mat-card>

   <mat-card class="card">
      <mat-card-title>Hema Lakshmi Sowjanya Gedela</mat-card-title>
      <img mat-card-image height="350px" src="../../assets/Hl.jpeg">
      <mat-card-content><b>Stackroute</b><br>Batch 20</mat-card-content>
   </mat-card>

   <mat-card class="card">
      <mat-card-title>Venugopal Arumuru</mat-card-title>
      <img mat-card-image height="350px" src="../../assets/V.jfif">
      <mat-card-content><b>Stackroute Mentor</b><br>Batch 20</mat-card-content>
   </mat-card>

   
</div>